.content{
    height: 10000px;
    width: 1400px;
    margin: 0 auto;
}
.content .content_top{
    display: inline-flex;
    width: 100%;
    height: 110px;
    margin:0 64px;
}
.content .content_top_left{
    flex: 1;
}
.content .content_top_middle{
    flex: 4.4;
}
.content .content_top_right{
    flex: 1;
}
.content .content_top .content_top_left{
    display: inline-flex;
}
.content .content_top .content_top_left .active{
    cursor: pointer;
}
.content .content_top .content_top_left img{
    width: 46px;
    height: 46px;
    display: block;
    margin-right: 20px;
    margin-top: 10px;
    
}
.content .content_top .content_top_left span{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 2px;
}